@use '../../mixin' as *

.header
    position: sticky
    top: 0
    z-index: 1000
    background: linear-gradient(to bottom, var(--bg-2), transparent 200%)
    transition: top 0.3s ease-in-out
    padding: 0 1.5rem
    @include sm
        padding: 0

    &_scrolled
        top: -1.5rem
        @include sm
            top: -2rem
        @include md
            top: -2.5rem
        @include lg
            top: -3rem
        @include xl
            top: -3.5rem
        @include xxl
            top: -6.5rem
        & .brand
            &__first
                font-size: 2.5rem
            &__last
                font-size: 2.5rem
                padding-left: 0.5rem
        & .header__line
            padding: 1.5rem
            height: auto
    &__position
        width: 100%
    &__line

        height: 100%
        
        border-bottom: 0.1rem solid var(--border-header)
.navbar
    background-color: transparent !important
    color: var(--text)
    height: 8rem
    position: relative
    top: 0rem
    transition: 0.1s ease-in-out
    align-items: center
    padding: 0
    @include lg
        height: 10rem
    @include xxl
        height: 14rem
    &_scrolled
        position: relative
        align-items: flex-end
        padding-bottom: 0rem 
    &__button
        background: var(--brand)
.brand
    color: var(--brand)
    font-weight: bolder
    display: flex
    filter: drop-shadow(0 0 0.5rem var(--bg)) drop-shadow(0 0 0.5rem var(--bg)) drop-shadow(0 0 0.5rem var(--bg))
    align-items: center
    transition: 0.1s ease-in-out
    & span
        font-family: var(--f-Cormarant)
        line-height: 1
    &__first
        font-size: 3.5rem
        transition: 0.2s ease-in-out 0.2s
    &__last
        font-size: 7rem
        text-transform: uppercase
        transition: 0.2s ease-in-out 0.2s

        font-size: 3.5rem
        padding-left: 1rem
        text-transform: capitalize
    

    & img
        width: auto
        height: 4rem 
    &:hover
        color: var(--brand)
        translate:-0.3rem 0 
        filter: drop-shadow(0.3rem 0rem 0rem var(--bg)) drop-shadow(0 0 0.5rem var(--bg)) drop-shadow(0 0 0.5rem var(--bg)) drop-shadow(0 0 0.5rem var(--bg))
